* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 10px;
    max-width: 568px;
    min-width: 320px;
    margin: 0 auto;

    @media (min-width: 1280px) {
        max-width: 840px;
    }
}